@keyframes scale {
  from {
    transform: scale(10);
  }

  to {
    transform: scale(1);
  }
}

.card {
  --aspect-ratio: 3/4;
  --width: 100%;
  --height: calc(var(--width) / (var(--aspect-ratio)));

  font-family: 'Source Code Pro';
  font-weight: 900;
  width: var(--width);
  padding-top: var(--height);
  user-select: none;
  border-radius: 1vmin;
  position: relative;
  overflow: hidden;
  border: .3vmin solid #333;
  text-align: center;
  transition: ;
  background-color: #161616;
  outline: none;
}

.card-selectable {
  cursor: pointer;
  transition: border var(--duration-short) var(--easing), transform var(--duration-short) var(--easing);
}

.card > div {
  --font-size: calc(10vw * (var(--aspect-ratio)));

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: var(--font-size);
  color: var(--white);
  background-color: var(--black);
  opacity: 0.8;
  mix-blend-mode: lighten;
}

.card > div::before {
  position: absolute;
  background-color: var(--black);
  font-size: .2em;
  line-height: .75em;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  word-wrap: break-word;
  animation: scale 3s 1s both ease-out;
  mix-blend-mode: multiply;
}

.card:focus,
.card.card-selectable:hover {
  border-color: var(--gray);
}

.card.card-selectable:hover {
  transform: scale(1.05);
}

.card:focus > div,
.card.card-selectable:hover > div {
  opacity: 1;
}

.card-2-digits > div {
  letter-spacing: -.175em;
  margin-left: -.25em;
}

.card-2-digits > div::before {
  letter-spacing: initial;
}

.card-spades > div::before {
  content: '♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠♠';
  color: var(--white);
}

.card-hearts > div::before {
  content: '♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥♥';
  color: var(--red);
}

.card-diamonds > div::before {
  content: '♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦♦';
  color: var(--red);
}

.card-clubs > div::before {
  content: '♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣♣';
  color: var(--white);
}
